<ion-view view-title="My submissions">

  <ion-content class="grey">
    
    <ion-refresher
      pulling-text="Pull to refresh..."
      spinner="dots"
      on-refresh="doRefresh()">
    </ion-refresher>
    
    <!-- 
    <div class="row row-header">
      <h1 id="category-title">
        {{productType}} deals
      </h1>
    </div>
    -->

    
    <div ng-switch="status.loading">
        <div ng-switch-when="null" class="center">
          <br>
          <p>No submissions</p>
        </div>
        <div ng-switch-when="true" class="center">
          <br>
          <ion-spinner icon="dots"></ion-spinner>
        </div>
        <div ng-switch-when="false">
          
          <ion-list>
            <ion-item class="item item-thumbnail-left" 
              ng-click="editProduct(item.key)"
              ng-repeat="item in ProductsMeta | orderBy: '-value.timestamp_creation'">
              <img ng-src="{{ProductsImage[item.key].icon || 'img/ionic.png'}}">
              <h2>{{item.value.title}}</h2>
              <p>{{item.value.productType}} / {{item.value.categoryId}}</p>
              
              <ion-option-button class="button-assertive" ng-click="deleteProduct(item.key)">Delete</ion-option-button>
              
            </ion-item>
          </ion-list>

          
        </div>
      </div> <!-- ./ items per category -->
    
    
    
  </ion-content>
</ion-view>
