<ion-view view-title="Trending">

  <ion-content>
    
    <ion-refresher
      pulling-text="Pull to refresh..."
      spinner="dots"
      on-refresh="doRefresh()">
    </ion-refresher>
    
    <!-- [local, online, voucher] -->
    <div ng-repeat="productType in ['local', 'online', 'voucher']" ng-show="status['loading'][productType] != null">
      
      <div class="row row-header">
        <h1 id="category-title">
          Trending {{productType}} deals
        </h1>
      </div>
      

      <!-- items per category -->
      <div ng-switch="status.loading[productType]">
        <div ng-switch-when="true" class="center">
          <ion-spinner icon="dots"></ion-spinner>
        </div>
        <div ng-switch-when="false">
          <ion-slide-box>
            <ion-slide ng-repeat="slideCount in slideRepeat[productType]">
              
              <item-card></item-card>

            </ion-slide>
          </ion-slide-box>
        </div>
      </div> <!-- ./ items per category -->

    </div>
    
  </ion-content>
</ion-view>
