/**
$placeholder-font-size:         $font-size-base !default;
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: $placeholder-font-size;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: $placeholder-font-size;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: $placeholder-font-size;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: $placeholder-font-size;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    font-size: $placeholder-font-size;
}
*/