<ion-side-menu side="left">
    <ion-header-bar class="bar bar-dark">
      <h1 class="title">Deals app</h1>
    </ion-header-bar>
    <ion-content class="dark">
      <ion-list>
        
        <ion-item menu-close href="#/app/live">
          Browse
        </ion-item>
        <ion-item menu-close href="#/other/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/other/account">
          Account
        </ion-item>
        <ion-item menu-close href="#/other/submit/">
          + Add
        </ion-item>
        <ion-item menu-close href="#/other/submissions">
          My submissions
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>