<div class="row">
  <div class="col col-50">
    
    <!-- custom item card -->
    <div class="custom-item-card" ng-show="ProductsMeta[productType][$index + 0 + slideCount].value.title">
      
      <img ng-src="{{getProductImage(ProductsMeta[productType][$index + 0 + slideCount].key)}}">
        
      <h2>
          {{ProductsMeta[productType][$index + 0 + slideCount].value.title}}  
      </h2>
      
      <span id="price">
        <span class="old-price">${{ProductsMeta[productType][$index + 0 + slideCount].value.price_old}}</span>
        <span class="offer-value">${{ProductsMeta[productType][$index + 0 + slideCount].value.price_now}}</span>
      </span>
      
      <span id="save">
        <a href="" ng-click="doSomething()" class="ion-ios-star-outline"></a>
      </span>

    </div>
    <!-- // custom item card -->

    
  </div>
  <div class="col col-50">
    
    <!-- custom item card -->
    <div class="custom-item-card" ng-show="ProductsMeta[productType][$index + 1 + slideCount].value.title">
      
      <img ng-src="{{getProductImage(ProductsMeta[productType][$index + 1 + slideCount].key)}}">
        
      <h2>
          {{ProductsMeta[productType][$index + 1 + slideCount].value.title}}  
      </h2>
      
      <span id="price">
        <span class="old-price">${{ProductsMeta[productType][$index + 1 + slideCount].value.price_old}}</span>
        <span class="offer-value">${{ProductsMeta[productType][$index + 1 + slideCount].value.price_now}}</span>
      </span>
      
      <span id="save">
        <a href="" ng-click="doSomething()" class="ion-ios-star-outline"></a>
      </span>

    </div>
    <!-- // custom item card -->
    
  </div>
</div>

