<label class="item item-input item-stacked-label">
  <span class="input-label">Voucher link</span>
  <input 
    ng-model="ProductMeta.voucher_link"
    type="text" placeholder="">
</label>
<label class="item item-input item-stacked-label">
  <span class="input-label">Discount %</span>
  <input 
    ng-model="ProductMeta.discount_perc"
    type="number" placeholder="in full % (i.e. 25 for 25%)">
</label>
<label class="item item-input item-stacked-label">
  <span class="input-label">Discount code</span>
  <input 
    ng-model="ProductMeta.discount_code"
    type="text" placeholder="">
</label>