<label class="item item-input item-stacked-label">
  <span class="input-label">Web link</span>
  <input 
    ng-model="ProductMeta.web_link"
    type="text" placeholder="">
</label>
<label class="item item-input item-stacked-label">
  <span class="input-label">Price Old</span>
  <input 
    ng-model="ProductMeta.price_old"
    type="text" placeholder="">
</label>
<label class="item item-input item-stacked-label">
  <span class="input-label">Price Now</span>
  <input 
    ng-model="ProductMeta.price_now"
    type="text" placeholder="">
</label>