<div class="row">
  <div class="col col-50">
    
    <!-- custom item card -->
    <div class="custom-item-card" 
      ng-show="ProductsMeta[productType][$index + 0 + slideCount.iter].value.title">
      
      <img 
      ng-click="goToProduct(ProductsMeta[productType][$index + 0 + slideCount.iter].key)"
      ng-src="{{getProductIcon(ProductsMeta[productType][$index + 0 + slideCount.iter].key)}}">
        
      <h2>
          {{ProductsMeta[productType][$index + 0 + slideCount.iter].value.title}} 
          
          <br><br>
      
          <span>
            <i class="icon ion-ios-arrow-up"></i>
            {{ProductsMeta[productType][$index + 0 + slideCount.iter].index.upvotes_count}}
            &nbsp;
            <i class="ion-ios-chatbubble"></i>
            {{ProductsMeta[productType][$index + 0 + slideCount.iter].index.comments_count}}
          </span> 
      
      </h2>
      
      <span id="price">
        <div ng-switch="ProductsMeta[productType][$index + 0 + slideCount.iter].value.productType">
          <div ng-switch-when="local">
            <span class="old-price">£{{ProductsMeta[productType][$index + 0 + slideCount.iter].value.price_old}}</span>
            <span class="offer-value">£{{ProductsMeta[productType][$index + 0 + slideCount.iter].value.price_now}}</span>
          </div>
          <div ng-switch-when="online">
            <span class="old-price">£{{ProductsMeta[productType][$index + 0 + slideCount.iter].value.price_old}}</span>
            <span class="offer-value">£{{ProductsMeta[productType][$index + 0 + slideCount.iter].value.price_now}}</span>
          </div>
          <div ng-switch-when="voucher">
            <span class="offer-value">{{ProductsMeta[productType][$index + 0 + slideCount.iter].value.discount_perc}}% off!</span>
          </div>
        </div>
      </span>
      
      <span id="save">
        <a href=""
          ng-show="Wallet[ProductsMeta[productType][$index + 0 + slideCount.iter].key] == true"
          ng-click="walletButtonPressed(ProductsMeta[productType][$index + 0 + slideCount.iter].key)" 
          class="checked ion-ios-star">
        </a>
        <a href="" 
          ng-show="Wallet[ProductsMeta[productType][$index + 0 + slideCount.iter].key] != true"
          ng-click="walletButtonPressed(ProductsMeta[productType][$index + 0 + slideCount.iter].key)" 
          class="unchecked ion-ios-star">
        </a>
      </span>
      

    </div>
    <!-- // custom item card -->

    
  </div>
  <div class="col col-50">
    
    <!-- custom item card -->
    <div
      class="custom-item-card" ng-show="ProductsMeta[productType][$index + 1 + slideCount.iter].value.title">
      
      <img 
      ng-click="goToProduct(ProductsMeta[productType][$index + 1 + slideCount.iter].key)"
      ng-src="{{getProductIcon(ProductsMeta[productType][$index + 1 + slideCount.iter].key)}}">
        
      <h2>
          {{ProductsMeta[productType][$index + 1 + slideCount.iter].value.title}}  
          
          <br><br>
      
          <span>
            <i class="icon ion-ios-arrow-up"></i>
            {{ProductsMeta[productType][$index + 1 + slideCount.iter].index.upvotes_count}}
            &nbsp;
            <i class="ion-ios-chatbubble"></i>
            {{ProductsMeta[productType][$index + 1 + slideCount.iter].index.comments_count}}
          </span> 
          
      </h2>
      
      
      
      <span id="price">
        <div ng-switch="ProductsMeta[productType][$index + 1 + slideCount.iter].value.productType">
          <div ng-switch-when="local">
            <span class="old-price">£{{ProductsMeta[productType][$index + 1 + slideCount.iter].value.price_old}}</span>
            <span class="offer-value">£{{ProductsMeta[productType][$index + 1 + slideCount.iter].value.price_now}}</span>
          </div>
          <div ng-switch-when="online">
            <span class="old-price">£{{ProductsMeta[productType][$index + 1 + slideCount.iter].value.price_old}}</span>
            <span class="offer-value">£{{ProductsMeta[productType][$index + 1 + slideCount.iter].value.price_now}}</span>
          </div>
          <div ng-switch-when="voucher">
            <span class="offer-value">{{ProductsMeta[productType][$index + 1 + slideCount.iter].value.discount_perc}}% off!</span>
          </div>
        </div>
      </span>
      
      <span id="save">
        <a href=""
          ng-show="Wallet[ProductsMeta[productType][$index + 1 + slideCount.iter].key] == true"
          ng-click="walletButtonPressed(ProductsMeta[productType][$index + 1 + slideCount.iter].key)" 
          class="checked ion-ios-star">
        </a>
        <a href="" 
          ng-show="Wallet[ProductsMeta[productType][$index + 1 + slideCount.iter].key] != true"
          ng-click="walletButtonPressed(ProductsMeta[productType][$index + 1 + slideCount.iter].key)" 
          class="unchecked ion-ios-star">
        </a>
      </span>
    

    </div>
    <!-- // custom item card -->
    
  </div>
</div>

